.song-container {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img {
    width: 20%;
    border-radius: 50%;
  }
  h2 {
    padding: 3rem 1rem 1rem 1rem;
  }
}
.time-control {
  width: 50%;
  display: flex;
  input {
    width: 100%;
    padding: 1rem 2rem;
  }
  p {
    padding: 1rem;
  }
}
.player-control {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  svg {
    cursor: pointer;
  }
}
